In [35]:
import pandas as pd

In [36]:
import wget

In [37]:
url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv"

In [38]:
filename = wget.download(url)

100% [...........................................................] 12322 / 12322

In [39]:
filename

'taxi_zone_lookup.csv'

In [40]:
taxizone_df = pd.read_csv(url)

In [41]:
taxizone_df.head(10)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone
5           6  Staten Island  Arrochar/Fort Wadsworth    Boro Zone
6           7         Queens                  Astoria    Boro Zone
7           8         Queens             Astoria Park    Boro Zone
8           9         Queens               Auburndale    Boro Zone
9          10         Queens             Baisley Park    Boro Zone

In [42]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')

In [43]:
print(pd.io.sql.get_schema(taxizone_df, name='taxi_zones', con=engine))

CREATE TABLE taxi_zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [44]:
taxizone_df.to_sql(name='taxi_zones', con=engine, if_exists='replace', index=False)

265